# Default for all
* text=auto

*.json diff=text eol=lf
*.html diff=html eol=lf
*.css diff=css eol=lf

*.scss diff=scss eol=lf
*.js diff=js eol=lf

*.md diff=markdown eol=crlf
*.sh diff=sh eol=lf

# Git attributes
.gitignore text eol=lf
.gitattributes text eol=lf

/.github export-ignore
CHANGELOG.md export-ignore